
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #EEE;
    background-color: #202020;
    margin: 0px auto;
    padding: 0px;

}
.whyAmIWastingTimeOnThis {
    font-size: 10px; 
    margin:auto; 
    color:white; 
    text-shadow: 0 0 1em white;
    clear: both;

}
#container {
    width: 1000px;
    background-color: #161616;
    margin-top: 0px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
	border-radius:10px;
    border: 1px solid black;
}
#header {
    color: #CCC;
    font-size: 40px;
    clear: both;
    text-align: center;
    margin: 50px auto;
}
#footer {
 	font-size:7px;;
    color:gray;
    padding-top:100px;
}
#content {
    width:80%;
    margin: 0px auto;
    padding: 1em;
    text-align: left;
    box-shadow: 0px 0px 20px #000;
    border: 3px solid #CCC;
}

.inlaid {
    background-color: #282828;
    border-radius: 5px;
    margin: 0em;
    left: 1em;
}

.blue {
    color:#0CD;
    display: inline;
    text-shadow: 0 0 .4em #06A;
}
/* -------------- TYPES -----------*/

a {
    color:#ffffff;
    text-decoration: none;
} 
p {
    font-size: 100%;
    font-family: "Calibri";
    font-weight:400;
}
h1 {
    border-top: 1px solid #CCC;
    padding: .3em;
    border-bottom: 1px solid #CCC;
    margin: 30px;
    box-shadow: 0px 4px 30px #000;
}
h2 {

}
    
/* -------------- MENU ----------- */
ul {
    margin: 0px;
    padding: 0px;
}

.menu ul li {
    list-style: none;
    color: #fff;
    padding-top: 0.4em;
    padding-right: 0em;
    padding-bottom: 0.4em;
    padding-left: 0em;
}
.menu ul li:hover {
    background-color: #444;
}
#navbar {
    margin-right: auto;
    margin-left: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
    background-color: #151515;
    border: 1px solid #000;
}
#navbar ul li{
    list-style: none;
    color: #fff;
    padding-top:1em;
    padding-bottom: 1em;
    padding-right: 3em;
    padding-left: 3em;
    display:inline;
}
#navbar ul li:hover {
    color: #fff;
    background-color: #444;
}

/* ------------ POSITION ------------*/
.left {
 	float:left;   
}
.right {
 	float:right;   
}
.center {
 	margin-left:auto;
    margin-right:auto;
    text-align: center;
}

/* ------------- ALL GIF CLASSES -------------- */

.gif {
    display:none;
}
.jayandbob {
    width: 300px;
    height: 150px;
    background-image: url(../img/jayandbob.png);
}
.gandalf {
 width: 400px;
 height: 200px;
 background-image: url(../img/gandalf.png);
}
.thisguy {
width: 260px;
height: 360px;
background-image: url(../img/thisguy.png);
}
.jake {
    width: 500px;
    height: 271px;
    background-image:url(../img/jake.png);
}
.daftpunk {
    width: 500px;
    height: 450px;
    background-image:url(../img/daftpunk.gif);
}
.BMO {
    width: 500px;
    height: 281px;
    background-image:url(../img/BMO.png);
}
.busters {
    width: 267px;
    height: 229px;
    background-image:url(../img/busters.png);
}
.house {
    width:170px;
    height:350px;
    background-image:url(../img/house.gif);
}
.gru {
    width:390px;
    height:220px;
    background-image:url(../img/gru.png);
}
.lastSupper {
    width:500px;
    height:265px;
    background-image:url(../img/lastSupper.png);
}
.sherlock {
    width:301px;
    height:158px;
    background-image:url(../img/sherlock.png);
}
/* ------------- ALL GIF CLASSES -------------- */

#tempo img {
	display hidden;
}

#tempo {
    margin: auto;
    width: 128px;
    height: 50px;
    background-color: green;
    background: url(../img/down.png) no-repeat;
    
}

#tempo img:active {
    visibility:hidden;
}
#bpm {
	pointer-events: none;
	display: center;
	position: relative;
	top: -34px;
	right:1px;
}
